.small-post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.small-post p {
    color: #303030;
    margin: 0px;
    text-overflow: ellipsis;
}


.small-post small {
    color: #505050;
    margin: 0px;
}

.small-post h4 {
    color: black;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.posts {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts .btn {
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 15px;
    padding: 8px 16px;
    margin-left: 16px;
    flex-shrink: 0;
}

.news {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 25%;
}

.container {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.comment {
	padding: 20px;
	overflow-wrap: break-word;
	border-bottom: 1px solid #ddd;
}

.comment .comment-author {
	color: #ccc;
}

.comment .comment-author img{
	height: 2em;
	vertical-align: middle;
	margin: 5px;
	margin-right: 10px;
}

.sumbit-comment {
	padding-top: 20px;
}

.sumbit-comment p{
	margin-bottom: 5px;
}

.post-info {
	color: black;
}

.post-info a{
	color: black;
}

.github_link {
	color: #333;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	background-color: #eee;
}

.github_link .link {
	color: black;
	text-decoration: underline;
}

.github_link .author, .stars, .language{
	font-size: 0.9em;
	color: #555;
}

.github_link .image {
	height: 3em;
	vertical-align: middle;
	margin: 5px;
	margin-right: 10px;
}
	
body {
    background-color: #f8f9fa;
}

.filter {
    padding-right: 25px;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar a:hover {
    text-decoration: underline;
}

.user-icon {
    border-radius: 30%;
    margin-right: 10px;
    border: 2px solid #007bff;
}

.user-name {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.category a {
    color: #6c757d;
    font-size: 14px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #ccc;
    padding-right: 25px;
    padding-left: 25px;
}

